main {
    width: 100%;
    min-height: 84vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form.uploaderForm {
    padding: 1rem;
    min-height: 60vh;
    flex-basis: 600px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form.uploaderForm .dropZone {
    width: 100%;
    height: 30vh;
    border: 3px dashed #68d391;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.uploaderForm ul {
    height: 20vh;
    width: 100%;
    display: flex;
}

form.uploaderForm div.formSubmitZone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 6vh;
}

form.uploaderForm .dropzone svg {
    color: #eee;
    fill: #eee;
}