header {
    width: 100%;
    position: relative;
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0460f6;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
header #brand {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header h2 {
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 1.1px;
    color: #fff;
}

header small {
    color: white;
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: .9rem;
    line-height: inherit;
    white-space: nowrap;
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 768px) {
    /* Styles */
    header {
        justify-content: flex-start;
    }
}