li {
    padding: .5rem;
    padding-left: 1rem;
    width: 100%;
    height: 3rem;
    background-color: #0460f6;
    color: white;
    animation: fade-in forwards 1s ease-in;
}

section.rightSection h4,
li:not(:last-child) {
    border-bottom: 1.5px solid white;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

